<%- include('partials/header.ejs') %>

<%- include('partials/nav.ejs') %>



<!-- Hero Section Begin -->
<section class="hero" style="margin-top: 2rem;">
  <div class="container">
      <div class="row">
          
          <div class="col-lg-9">
              
              <div class="hero__item set-bg " style="background-image: url('/img/hero/luviakahero.jpg')">
                <div ></div>
                  <div class="hero__text">
                      <span>PURE ART</span>
                      <h2>ART PRODUCTS</h2>
                      <h4 class="text-light">100% Handmade</h4>
                      <p class="text-light pt-4">Free Pickup and Delivery Available</p>
                      <form action="#products">
                        <button type="submit" class=" btn-dark my-3" style="border-radius: 30%;">
                          <span class="primary-btn p-3">SHOP NOW</span>
                        </button>
                      </form>
                      
                  </div>
              </div>
              
          </div>
          <div class="col-lg-3">
           
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>All Categories</span>
                </div>
                <ul>
                  <% category.forEach(function(category) { %>
                    <li><a style="text-decoration: none;" href="#products"><%= category.category %></a></li>
                  <% }) %>
                </ul>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- Hero Section End -->


   


<!-- <section class="hero py-1">
  <div class="container mx-auto flex items-center justify-between">
      
      <div class="w-1/5">
          <img src="/img/luviaka.png" alt="image">
      </div>
      <div class="w-1/2">
         
      </div>
  </div>
</section> -->

 


<!-- cards -->
<section id="products">
  <div class="container-fluid">
        <div class="row">
          <% items.forEach(function(item) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="tile">
                  <div class="wrapper">
                    <form action="/product">
                      <div class="banner-img h-40 flex items-center justify-around">
                        <a href="/products/<%= item._id %>"><img style="margin: auto; width: 50%;" src="/img/products/<%= item.image %>" alt="Image"></a>
                        
                        
                      </div>
                    </form>
                    
                      <div class="header" ><%= item.name %></div>
                      
                      <div class="footer flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹<%= item.price %></span>
                          <button data-item="<%= JSON.stringify(item) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                      </div>

                  </div>
              </div> 
            </div>
            <!-- popup window -->
            
          <% }) %>
            
        </div>
    </div>
</section>
<!-- category selector -->


<div class="container my-4">

  
  <hr class="my-4">

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <!-- <div class="controls-top justify-center">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div> -->
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <!-- <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div> -->
      <!--/.First slide-->

      <!--Second slide-->
      <!-- <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div> -->
      <!--/.Second slide-->

      <!--Third slide-->
      <!-- <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div> -->
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>



<%- include('partials/footer.ejs') %>